NODE_ENV=development
APP_PORT=3001
APP_NAME="NestJS API"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
APP_HEADER_LANGUAGE=x-custom-lang
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=root
DATABASE_PASSWORD=secret
DATABASE_NAME=api
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=500
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false

ETHER_CONTRACT_ADDRESS=
ETHER_RPC=
ETHER_ADMIN_PRIVATE_KEY=
ETHER_ADMIN_PUBLIC_ADDRESS=